@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Noto+Sans+Mono:wght@900 & family= Passion+One:wght@400;700; 900 & family= Sriracha & display=swap');

:root{

    /* cores */

     --cor1:#004959 ;
     --cor2:#1B4E59 ;
     --cor3:#009ABE ;
     --cor4:#00B1D9 ;
     --cor5:#43C2DF ;

     /* fontes */ 
     
     --fontes1: 'Passion One', cursiva;
     --fontes2: 'Noto Sans Mono', monospace;
     --fontes3:'Passion One', cursive;
     --fontes4:'Sriracha', cursive;
 }

* {



    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-shadow: 5px 6px 10px black;
    font-family: var(--fontes4);
    font-size: 20px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  #foto {

    height: 8vh;

  }

  nav h1 {
    margin: auto;
    font-family: var(--fontes4);
    font-size: 50px;
    text-shadow: 10px 10px 40px black;
    background: -webkit-linear-gradient(left, rgb(3, 246, 177),rgb(0, 64, 255));
    background: linear-gradient(to right,rgb(3, 246, 177),rgb(0, 64, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cor1);
    height: 8vh;
    box-shadow: 10px 10px  solid black;
  }
  
  main {
    background: url(../imagens/bak.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--cor1);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }