@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Noto+Sans+Mono:wght@900 & family= Passion+One:wght@400;700; 900 & family= Sriracha & display=swap');

:root{

    /* cores */

     --cor1:#004959 ;
     --cor2:#1B4E59 ;
     --cor3:#009ABE ;
     --cor4:#00B1D9 ;
     --cor5:#43C2DF ;

     /* fontes */ 
     
     --fontes1: 'Passion One', cursiva;
     --fontes2: 'Noto Sans Mono', monospace;
     --fontes3:'Passion One', cursive;
     --fontes4:'Sriracha', cursive;
 }

     
*{

    margin: 0px;
    padding: 0px;
}




header{
margin: 10px 10px 10px 10px;
    
}

header > h1{

     text-align: center;
     display: inline;
     font-family: var(--fontes2);
     color: rgb(217, 217, 0);
     font-size: 25px;
     width: 576px;
    margin: -47px;

     
}

header  img{

    height: 157px;
    width: 372px;
    margin: -47px;
}


nav  {

     
    margin-bottom: 20px;
}



nav > a{

    margin: 0px -27px 22px 106px; 
    background-color: #1dddd4;
    padding: 5px;
    border-radius: 20px;
    box-shadow:inset -1px 0px 6px 1px black ;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: var(--fontes2);
}

nav > a:hover{


color: var(--cor1);
transition-duration: 1 ;
}

body{

    background-color: var(--cor3);
 
    margin:  8px 36px 0px -57px;;
    padding: 0px -64px -31px 13px;
    
}


   
    #im1{

        margin: auto;
        padding: 20px;

    }


footer{

    
    background-color: black;
    margin: -14px -36px -1px 0px;
    padding: 38px;
}
    
